.DS_Store
.Rhistory
outputs/.DS_Store
outputs/statistical/.DS_Store
outputs/figures/.DS_Store
misc/*
outputs/statistical/annual_plant
outputs/statistical/cedar_creek_plants
outputs/statistical/fly_gut
outputs/statistical/human_gut
outputs/statistical/mouse_gut
outputs/statistical/soil_bacteria
outputs/statistical/sortie-nd_plants
1-predict_coexistence-savio.R
0-savio_script.sh
.Rproj.user
coexistence_love.Rproj
outputs/figures/g_experiment_Grassland_annual_plants_drought
